<div class="loginbox">
    <img src="https://images.vexels.com/media/users/3/140748/isolated/preview/5b078a59390bb4666df98b49f1cdedd0-perfil-avatar-masculino-by-vexels.png" class="avatar">
    <h1>Login Here</h1>
    <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="Login">
        <a href="#">¿Olvidaste tu contraseña?</a><br>
        <a href="/login/singin/">¿No tienes cuenta?</a>
    </form>
</div>