<link rel="stylesheet" href="public/stylesheets/styleLogin.css">
<div class="loginbox">
    <img src="public/img/pics/avatar.png" class="avatar">
    <h1>Login Here</h1>
    <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="signin">
        <a href="#">¿Olvidaste tu contraseña???</a><br>
        <a href="/signin">¿No tienes cuenta?</a>
    </form>
</div>